<div class="container">
  <div class="row">
    <div class="col-lg-5 col-12 d-flex justify-content-center bg-text ">
      <div class="text-dashboard align-self-center ">
        <b><h1>Tell Your Pet's Story</h1></b>
        <button type="submit" class="btn btn-danger mr-3" (click)="signup()"> Sign Up...</button>
        <button type="submit" class="btn btn-secondary" (click)="signin()"> Sign In...</button>
      </div>
    </div>
    <div class="col-lg-7 col-12">
      <div class="img-dashboard mt-3">
        <img src="../../assets/img/dashboard.svg" width="100%">
      </div>
    </div>
  </div>
</div>